@page {
  size: A4;
}

body {
  font: 12px Helvetica, Arial, sans-serif;
}

a {
  color: #07a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#error {
  color: #d00;
  background-color: #fdd;
  padding: 10px;
  border: 1px solid #d00;
  border-radius: 5px;
}

#error:empty {
  display: none;
}

#map {
  position: relative;
  height: 100%;
}

#map-attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 7px;
  border-top-left-radius: 5px;
}

#leaflet-container {
  display: none;
  transform-origin: top left;
  height: 100%;
}

.leaflet-control-attribution {
  transform-origin: bottom right;
}

#static-container {
  display: none;
  height: 100%;
}

#static-container canvas, #static-container img {
  height: 100%;
}
